* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

@font-face {
  font-family: 'Jaapokki';
  src: url("../fonts/Jaapokki/jaapokki-regular.eot");
  src: url("../fonts/Jaapokki/jaapokki-regular.eot#iefix") format("embedded-opentype"), url("../fonts/Jaapokki/jaapokki-regular.woff") format("woff"), url("../fonts/Jaapokki/jaapokki-regular.ttf") format("truetype"), url("../fonts/Jaapokki/jaapokki-regular.svg#jaapokki-400") format("svg"); }

@font-face {
  font-family: 'MavenPro-Regular';
  src: url("../fonts/Maven_Pro/Mavenproregular.woff") format("woff"), url("../fonts/Maven_Pro/Mavenproregular.woff2") format("woff2"), url("../fonts/Maven_Pro/Mavenproregular.ttf") format("truetype"); }

@font-face {
  font-family: 'MavenPro-Bold';
  src: url("../fonts/Maven_Pro/Mavenprobold.woff") format("woff"), url("../fonts/Maven_Pro/Mavenprobold.woff2") format("woff2"), url("../fonts/Maven_Pro/Mavenprobold.ttf") format("truetype"); }

@font-face {
  font-family: 'MavenPro-Black';
  src: url("../fonts/Maven_Pro/Mavenproblack.woff") format("woff"), url("../fonts/Maven_Pro/Mavenproblack.woff2") format("woff2"), url("../fonts/Maven_Pro/Mavenproblack.ttf") format("truetype"); }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/font-awsome/fontello.eot?69794094");
  src: url("../fonts/font-awsome/fontello.eot?69794094#iefix") format("embedded-opentype"), url("../fonts/font-awsome/fontello.woff2?69794094") format("woff2"), url("../fonts/font-awsome/fontello.woff?69794094") format("woff"), url("../fonts/font-awsome/fontello.ttf?69794094") format("truetype"), url("../fonts/font-awsome/fontello.svg?69794094#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

body, .index-content .demos, .index-content .demos .item-container {
  display: flex;
  flex-flow: column nowrap; }

.demo-item {
  width: 100%;
  text-align: center; }
  .demo-item .box-wrapper {
    margin-top: 70px;
    width: 100%; }
    .demo-item .box-wrapper p {
      font-family: "MavenPro-Bold", sans-serif;
      padding-top: 30px;
      text-transform: uppercase;
      color: #333333;
      font-size: 13px; }
    .demo-item .box-wrapper .img-box {
      display: inline-block;
      position: relative;
      margin: auto;
      border: 3px solid #e66a55;
      overflow: hidden; }
      .demo-item .box-wrapper .img-box .link {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: opacity 0.3s linear;
        width: 100%;
        height: 100%; }
      .demo-item .box-wrapper .img-box .link a {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 12px 20px 10px;
        border: 2px solid #ffffff;
        color: #fff;
        font-family: "Jaapokki", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        transition: transform 0.4s ease;
        transform: translate(-50%, -300px); }
      .demo-item .box-wrapper .img-box img {
        max-width: 100%;
        display: block;
        height: auto; }
      .demo-item .box-wrapper .img-box .icon-right::after {
        content: '\f178';
        display: inline-block;
        padding-left: 10px;
        transition: transform 0.2s ease; }
      .demo-item .box-wrapper .img-box .link a.icon-right:hover::after {
        transform: translateX(10px); }
    .demo-item .box-wrapper .img-box:hover .link {
      opacity: 1; }
    .demo-item .box-wrapper .img-box:hover .link a {
      transform: translate(-50%, -50%); }

.demo-item:not(:first-child) .img-box {
  border-color: #333333; }

.adv-item {
  display: flex;
  flex: 0 1 30%;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }
  .adv-item img {
    width: 65px;
    height: auto;
    margin-bottom: 20px; }
  .adv-item .item-content {
    text-align: center; }
    .adv-item .item-content h3 {
      margin-bottom: 10px;
      font-family: "Jaapokki", sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px; }
    .adv-item .item-content p {
      margin-bottom: 10px;
      padding: 0 7%;
      font-family: "MavenPro-Regular", sans-serif;
      font-weight: 200;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 22px; }

header {
  position: absolute;
  width: 100%;
  min-height: 90px;
  background-color: #191919;
  z-index: 10; }
  header .top-menu {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 30px; }
    header .top-menu .logo a {
      display: inline-block;
      height: 90px;
      width: 98px;
      background: left center url("../images/logo.png") no-repeat/contain; }
    header .top-menu .menu-list {
      display: none;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: #191919;
      z-index: 10; }
      header .top-menu .menu-list.show {
        display: block; }
      header .top-menu .menu-list .list-item {
        height: 100%;
        padding: 0 30px;
        text-align: center; }
      header .top-menu .menu-list .list-item a {
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        font-family: "Jaapokki", sans-serif;
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        border-top: 1px solid #ffffff;
        transition: color 0.2s linear, background 0.2s linear; }
      header .top-menu .menu-list .list-item a:hover {
        background: #e66a55; }
      header .top-menu .menu-list .list-item.active > a {
        border-color: #e66a55;
        color: #e66a55; }

/*burger-button*/
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger {
  margin: 0 auto;
  width: 27px;
  height: 27px;
  position: relative; }

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 0; }

.bar2,
.bar3 {
  top: 11px; }

.bar4 {
  bottom: 0; }

/* HAMBURGER 3 */
.hamburger3 .bar1 {
  transform-origin: 5%; }

.hamburger3 .bar4 {
  transform-origin: 5%; }

.checkbox3:checked + label > .hamburger3 > .bar1 {
  transform: rotate(45deg);
  height: 3px;
  width: 35px; }

.checkbox3:checked + label > .hamburger3 > .bar3 {
  transform: rotate(45deg);
  height: 3px;
  background-color: transparent; }

.checkbox3:checked + label > .hamburger3 > .bar2 {
  transform: rotate(-45deg);
  height: 3px;
  background-color: transparent; }

.checkbox3:checked + label > .hamburger3 > .bar4 {
  transform: rotate(-45deg);
  height: 3px;
  width: 35px; }

.wrapper {
  height: 400px;
  width: 100%;
  position: relative; }

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit; }

.wrapper > input {
  display: none; }

.slides {
  height: inherit;
  position: absolute;
  width: inherit; }

.slide1 {
  background-image: url(http://habrastorage.org/files/3f2/628/bd5/3f2628bd58c8452db516195cb0c9bfc9.jpg); }

.slide2 {
  background-image: url(http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg); }

.slide3 {
  background-image: url(http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg); }

.slide4 {
  background-image: url(http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg); }

.slide1,
.slide2,
.slide3,
.slide4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }

.wrapper .controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.wrapper label:after {
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  border-radius: 50%; }

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 100px;
  width: 100%; }

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
  border-bottom: 10px solid #ddd; }

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s; }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
  opacity: 1;
  z-index: 1; }

@media (max-width: 1000px) {
  .wrapper .controls {
    display: none; } }

/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */
html {
  width: 100%;
  height: 100%; }

body {
  background: #efefef;
  color: #333;
  font-family: "Raleway";
  height: 100%; }
  body h1 {
    text-align: center;
    color: #428BFF;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0; }

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px; }
  .tabs input[name="tab-control"] {
    display: none; }
  .tabs .content section h2,
  .tabs ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428BFF; }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap; }
    .tabs ul li {
      box-sizing: border-box;
      flex: 1;
      width: 25%;
      padding: 0 10px;
      text-align: center; }
      .tabs ul li label {
        transition: all 0.3s ease-in-out;
        color: #929daf;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        white-space: nowrap;
        -webkit-touch-callout: none; }
        .tabs ul li label br {
          display: none; }
        .tabs ul li label svg {
          fill: #929daf;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out; }
        .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
          outline: 0;
          color: #bec5cf; }
          .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
            fill: #bec5cf; }
  .tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07); }
    .tabs .slider .indicator {
      position: relative;
      width: 50px;
      max-width: 100%;
      margin: 0 auto;
      height: 4px;
      background: #428BFF;
      border-radius: 1px; }
  .tabs .content {
    margin-top: 30px; }
    .tabs .content section {
      display: none;
      animation: content 0.3s ease-in-out 1;
      line-height: 1.4; }
      .tabs .content section h2 {
        color: #428BFF;
        display: none; }
        .tabs .content section h2::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: #428BFF;
          margin-top: 5px;
          left: 1px; }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #428BFF; }
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
      fill: #428BFF; }
    @media (max-width: 600px) {
      .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        background: rgba(0, 0, 0, 0.08); } }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%); }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #428BFF; }
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
      fill: #428BFF; }
    @media (max-width: 600px) {
      .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
        background: rgba(0, 0, 0, 0.08); } }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%); }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: #428BFF; }
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
      fill: #428BFF; }
    @media (max-width: 600px) {
      .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
        background: rgba(0, 0, 0, 0.08); } }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%); }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block; }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: #428BFF; }
    .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
      fill: #428BFF; }
    @media (max-width: 600px) {
      .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
        background: rgba(0, 0, 0, 0.08); } }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%); }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block; }

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%); }
  to {
    opacity: 1;
    transform: translateY(0%); } }
  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial; }
      .tabs ul li label br {
        display: initial; }
      .tabs ul li label svg {
        height: 1.5em; } }
  @media (max-width: 600px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px; }
      .tabs ul li label span {
        display: none; }
    .tabs .slider {
      display: none; }
    .tabs .content {
      margin-top: 20px; }
      .tabs .content section h2 {
        display: block; } }

body {
  min-height: 100vh;
  min-width: 545px; }

header,
footer {
  flex: 0 1 auto; }

[class^="icon-"]::after, [class*=" icon-"]::after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none; }

.index-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; }
  .index-content .demos {
    align-items: center;
    padding-top: 60px; }
    .index-content .demos .page-header {
      padding: 20px 0 100px; }
      .index-content .demos .page-header h2 {
        padding-bottom: 30px;
        text-align: center;
        font-family: "Jaapokki", sans-serif;
        font-size: 40px;
        font-weight: 200;
        color: #333333; }
      .index-content .demos .page-header p {
        text-align: center;
        font-family: "MavenPro-Black", sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #888888;
        letter-spacing: 1px; }
    .index-content .demos .item-container {
      align-items: center;
      margin-bottom: 100px;
      width: 100%; }
  .index-content .advantages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
    background-color: #f1f2f1; }

.footer-inner-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 182px; }
  .footer-inner-wrapper p {
    padding-top: 30px;
    font-family: "Jaapokki", sans-serif;
    text-transform: uppercase; }

@media (min-width: 765px) {
  .index-content .demos .item-container {
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 50px; }
    .index-content .demos .item-container .demo-item {
      flex: 0 1 30%;
      margin: 0 15px; }
      .index-content .demos .item-container .demo-item img {
        width: 365px;
        max-width: 100%;
        height: auto; }
  .advantages {
    padding: 100px 50px 70px; }
    .advantages .adv-row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
    .advantages .adv-item {
      justify-content: flex-start;
      align-items: center; } }

@media (min-width: 900px) {
  .index-content .demos .item-container {
    max-width: 100%; }
  .index-content .advantages {
    padding: 100px 0 70px; }
    .index-content .advantages .adv-item {
      flex-flow: row nowrap;
      align-items: flex-start; }
      .index-content .advantages .adv-item img {
        margin-right: 30px; }
      .index-content .advantages .adv-item .item-content {
        text-align: left;
        flex-basis: 70%; }
        .index-content .advantages .adv-item .item-content p {
          padding: 0; } }

@media (min-width: 1200px) {
  .index-content .demos .page-header {
    padding: 0; }
  .index-content .demos .item-container {
    max-width: 80%; }
  .index-content .advantages .adv-row {
    max-width: 75%; } }
