
@font-face {
  font-family: 'Jaapokki';
  src: url('../fonts/Jaapokki/jaapokki-regular.eot');
  src: url('../fonts/Jaapokki/jaapokki-regular.eot#iefix') format('embedded-opentype'),
  url('../fonts/Jaapokki/jaapokki-regular.woff') format('woff'),
  url('../fonts/Jaapokki/jaapokki-regular.ttf') format('truetype'),
  url('../fonts/Jaapokki/jaapokki-regular.svg#jaapokki-400') format('svg');
}

@font-face {
  font-family: 'MavenPro-Regular';
  src: url('../fonts/Maven_Pro/Mavenproregular.woff') format('woff'),
  url('../fonts/Maven_Pro/Mavenproregular.woff2') format('woff2'),
  url('../fonts/Maven_Pro/Mavenproregular.ttf') format('truetype');
}

@font-face {
  font-family: 'MavenPro-Bold';
  src: url('../fonts/Maven_Pro/Mavenprobold.woff') format('woff'),
  url('../fonts/Maven_Pro/Mavenprobold.woff2') format('woff2'),
  url('../fonts/Maven_Pro/Mavenprobold.ttf') format('truetype');
}

@font-face {
  font-family: 'MavenPro-Black';
  src: url('../fonts/Maven_Pro/Mavenproblack.woff') format('woff'),
  url('../fonts/Maven_Pro/Mavenproblack.woff2') format('woff2'),
  url('../fonts/Maven_Pro/Mavenproblack.ttf') format('truetype');
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/font-awsome/fontello.eot?69794094');
  src: url('../fonts/font-awsome/fontello.eot?69794094#iefix') format('embedded-opentype'),
  url('../fonts/font-awsome/fontello.woff2?69794094') format('woff2'),
  url('../fonts/font-awsome/fontello.woff?69794094') format('woff'),
  url('../fonts/font-awsome/fontello.ttf?69794094') format('truetype'),
  url('../fonts/font-awsome/fontello.svg?69794094#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}