//INCLUDES

%flex-row {
  display: flex;
  flex-flow: row nowrap;
}

%flex-column {
  display: flex;
  flex-flow: column nowrap;
}


//VARIABLES

$red: #e66a55;
$basic-font: 'MavenPro-Regular', sans-serif;
$bold-font: 'MavenPro-Bold', sans-serif;
$black-font: 'MavenPro-Black', sans-serif;
$jpk-font: 'Jaapokki', sans-serif;